extends layout

block title
  title Typewriter | Contact

block content
  main.page-contact
    include ./components/common/nav.jade
    section.main-copy
      .contents
        .left
          h2 Get in Touch
          
