extends layout

block title
  title Typewriter | Documentation

block content
  main.legal.page-privacy
    include ./components/common/nav.jade
    section
      .contents
        h3 Typewriter | Documentation
