extends layout

block title
  title Typewriter | Terms of Use

block content
  main.legal.page-terms
    include ./components/common/nav.jade
    section
      .contents
        h3 Typewriter | Terms of Use
        p
          strong  
        p Last Updated on January 26, 2017
        br
        p
          | The website 
          a(href='http://www.perriconehydrogenwater.com') www.perriconehydrogenwater.com
          |  (the 
          strong “Site”
          | ) is brought to you by Perricone Hydrogen Water Company, LLC (
          strong “PHWC” “we,” “us,” 
          | or
          strong  “our”
          | ).
        br
        p
          strong YOUR ACCEPTANCE OF THE TERMS OF USE. 
          | PLEASE READ THESE TERMS AND CONDITIONS OF USE (the “
          strong TERMS OF USE
          | ” OR “
          strong USER AGREEMENT
          | ”) CAREFULLY BEFORE USING THE SITE AS THEY CONSTITUTE A LEGALLY BINDING CONTRACT BETWEEN YOU AND PHWC. This User Agreement sets forth the terms and conditions which govern your use of the Site, the Website Content (as defined below), and certain features made available through the Site. BY BROWSING, ACCESSING OR OTHERWISE USING THE SITE IN ANY MANNER, YOU HEREBY ACCEPT, WITHOUT LIMITATION OR QUALIFICATION, (1) THESE TERMS OF USE, AND (2) THE <a href="/privacy">PRIVACY POLICY</a> FOR THE SITE (THE “
          strong PRIVACY POLICY
          | ”). IF YOU DO NOT AGREE TO THESE TERMS OF USE OR THE <a href="/privacy">PRIVACY POLICY</a>, PLEASE DO NOT USE THE SITE AND EXIT NOW.
        br
        p
          strong UPDATES & REVISIONS TO THE TERMS OF USE. 
          | PLEASE REVIEW THE TERMS OF USE PERIODICALLY. We reserve the right, in our sole discretion, to update or revise these Terms of Use at any time. In the event of any such update or revision, we will change the "Last Updated" date above. Such updates or revisions shall become effective immediately upon the posting thereof. YOUR CONTINUED USE OF THE SITE FOLLOWING THE POSTING OF UPDATES AND/OR REVISIONS TO THE TERMS OF USE WILL CONSTITUTE YOUR ACCEPTANCE OF SUCH UPDATE AND/OR REVISED TERMS OF USE. The most current version of the Terms of Use can be accessed at any time by selecting the Terms of Use link on the home page of our Site.
        ol
          li
            strong CONTENT MADE AVAILABLE ON OR THROUGH THE SITE AND YOUR USE OF WEBSITE CONTENT. 
            ol
              li
                strong Description of Website Content. 
                | The Site contains a wide variety of Website Content (defined below), whether (1) proprietary to PHWC, or (2) proprietary to third parties. 
                strong “Website Content”
                |  includes, but is not limited to text, data, files, documents, software, scripts, layout, design, function and “look and feel,” graphics, images, audio, videos, audiovisual combinations, interactive features and any other materials that you may view, access or download (but only as expressly permitted in Section 1(c) below) through the Site. The Website Content contained on the Site has been included for general informational purposes only.
              li
                strong Our Proprietary Rights. 
                | You acknowledge and agree that all Website Content, whether publicly posted or privately transmitted, as well as all derivative works thereof, are owned by PHWC or other parties that have licensed their material to PHWC, and are protected by copyright, trademark and other intellectual property laws. Except as approved by PHWC in writing in advance, Website Content may not be copied, reproduced, republished, uploaded, posted, transmitted or distributed for your commercial or business purposes, including by e-mail or other electronic means, without the prior written consent of PHWC or such third-party that owns the Website Content. All rights not expressly granted herein by PHWC and/or its licensors to you are reserved by PHWC and/or its licensors.
              li
                strong Accessing and Downloading Website Content.
                |  You download information from the Site at your own risk. PHWC does not warrant that the Site or materials available therefrom are compatible with your equipment or that any such information is free from invasive or corruptive files or Harmful Code (as defined below). PHWC will not be liable or have any responsibility of any kind for any loss or damage that you incur as a result of (a) use of the Site or the Website Content, including any errors, inaccuracies or omissions in such information, material, or data, (b) any harmful features arising from the Site or the Website Content, (c) the act or omission of any other party involved in making the Site or the Website Content available to you, or (d) from any other cause relating to your access to, inability to access, or use of the Site or the Website Content, whether or not the circumstances giving rise to such cause may have been within the control of PHWC or third parties.
              li
                strong Restrictions on Your Use of Website Content. 
                | You may access and use Website Content solely for your information and personal, non-commercial use, as intended through the functionality of the Site and permitted under this User Agreement. Any modification of the Website Content, use of the Website Content on any website or networked computer environment, or use of the Website Content for any purpose other than personal, non-commercial use, without the prior written consent of PHWC or its licensors, as applicable, is a violation of the copyright, trademark, and other proprietary rights in the Website Content and is expressly prohibited. You agree not to circumvent, disable or otherwise interfere with security-related features of the Site that prevent or restrict the use or copying of any Website Content and not to alter, remove or falsify any attributions or other proprietary designations of origin or source of any Website Content appearing on the Site.
              li
                strong Website Content Disclaimer. 
                | Website Content is provided to you AS IS. You understand that we do not guarantee the accuracy, safety, integrity or quality of Website Content and you hereby agree that you must evaluate and bear all risks associated with the use of any Website Content, including any reliance on the Website Content or the integrity and accuracy of such Website Content. Nothing on OUR site should be deemed to constitute A recommendation to purchase, sell, or hold, OR OTHERWISE TO CONSTITUE ADVICE REGARDING, any registered or unregistered security.
              li
                strong Medical Disclaimer. 
                | THIS WEBSITE MAY CONTAIN GENERAL INFORMATION RELATING TO SCIENTIFIC, NUTRITIONAL AND MEDICAL TOPICS, INCLUDING DATA, STATEMENTS AND/OR CLAIMS WHICH ARE MEDICAL IN NATURE OR WHICH ADDRESS THE BENEFITS OF DR. PERRICONE HYDROGEN WATER. SUCH INFORMATION IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY AND IS NOT INTENDED TO BE A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT PROVIDED BY A DOCTOR OR OTHER QUALIFIED HEALTHCARE PROFESSIONAL. YOU SHOULD NOT DISREGARD MEDICAL ADVICE OR DELAY SEEKING MEDICAL CARE BASED ON ANYTHING THAT APPEARS ON THIS SITE. IF YOU ARE EXPERIENCING A MEDICAL EMERGENCY, YOU SHOULD DIAL “911” IMMEDIATELY. PHWC IS NOT ENGAGED IN RENDERING MEDICAL OR SIMILAR PROFESSIONAL SERVICES OR ADVICE AND INFORMATION ON THIS WEBSITE SHOULD NOT BE USED FOR DIAGNOSING A HEALTH PROBLEM OR DISEASE. YOU SHOULD NOT CONSTRUE WEBSITE CONTENT AS ANY WARRANTY OR RECOMMENDATION OF THE MEDICAL, HEALTH AND/OR NUTITIONAL BENEFITS OF DR. PERRICONE HYDROGEN WATER OR OTHER FOODS, TREATMENTS, PROVIDERS OR SERVICES.
          li
            strong RESTRICTIONS ON YOUR USE OF THE SITE.
            |  You shall not access or use the Site or any features on our Site in an unlawful way or for an unlawful or illegitimate purpose. You agree not to (a) upload or transmit any communication or content of any type that infringes or violates any rights of any party, (b) use, modify, sell, assign, or transfer the Website Content or reproduce, display, publicly perform, distribute, post, transmit or otherwise use this Site or any Website Content in any way for any public or commercial purpose, (c) reverse engineer, disassemble or decompile any software included on the Site and/or related to Website Content, (d) use this Site for any purpose in violation of local, state, national, or international laws, (e) use this Site as a means to distribute or post advertising or other unsolicited material to any third party, (f) impersonate any person or entity or falsely represent your identification or affiliation, (g) harvest or otherwise collect information about others, (h) post or transmit via the Site information that is unlawful, libelous, defamatory, obscene, fraudulent, predatory of minors, harassing, threatening or hateful to any person, (i) interfere with the operation of this Site, including without limitation, through the use of methods such as denial of service attacks, flooding, or spamming, and you will not transmit, distribute, introduce or otherwise make available in any manner through the Site any computer virus, keyloggers, spyware, worms, Trojan horses, time bombs or other malicious or harmful code (collectively, “
            strong Harmful Code
            | ”), or (j) copy or distribute in any medium any part of the Site, use the Site in any manner that could damage, disable or impair our services or networks, attempt to gain unauthorized access to any computer systems or networks, through hacking, password mining or any other means, or use any robot, scraper or other means to access the Site.
          li
            strong TRADEMARKS/SERVICE MARKS, LOGOS, SLOGANS AND TAGLINES. 
            | All trademarks, service marks, logos, slogans and taglines displayed on or through the Site are the property of PHWC or its respective owners and nothing contained herein should be construed as granting any license or right to use any trademarks, service marks, logos, slogans or taglines displayed on or through the Site without the express written permission of PHWC, or such third-party that may own the trademark, service mark, logo, slogan or tagline.
          li
            strong ACCESS TO THE SITE. 
            | You understand that the Site is provided as a courtesy to you and that we may modify, suspend or terminate all or a portion of the Site at any time in our discretion without prior notice to you. We reserve the right, in our sole discretion, to revoke, terminate or suspend any privileges associated with accessing the Site for any reason or for no reason whatsoever, including improper use of the Site or failure to comply with these Terms of Use, and to take any other action we deem appropriate. You agree that PHWC shall not be liable to you or any third party for any termination of your access to the Site.
          li
            strong VISITOR/USER SUGGESTIONS. 
            | You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information provided by you to PHWC (collectively, 
            strong “Feedback
            | ”) are not confidential and you hereby grant to PHWC a worldwide, perpetual, irrevocable, royalty-free license to reproduce, display, perform, distribute, publish, modify, edit or otherwise use such Feedback as it deems appropriate, for any and all commercial or non-commercial purposes, in its sole discretion.
          li
            strong LINKS TO OTHER SITES. 
            | Our Site may contain links to other websites. The fact that we link to a website is not an endorsement, authorization or representation of our affiliation with that third party. We do not exercise control over third party websites. These other websites may place their own cookies or other files on your computer, collect data or solicit personal information from you. Other sites follow different rules regarding the use or disclosure of the personal information you submit to them. We encourage you to read the privacy policies or statements of the other websites you visit. Please be aware that the terms of our <a href="/privacy">Privacy Policy</a> and User Agreement do not apply to these third party websites.
        ol(start='7')
          li
            strong YOUR ABILITY TO ACCEPT THIS USER AGREEMENT. 
            | You affirm that you are more than 18 years of age and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in this User Agreement, and to abide by and comply with this User Agreement.
        ol(start='8')
          li
            strong DISCLAIMER OF WARRANTY. 
            | ACCESS TO THE SITE IS PROVIDED “
            strong AS IS
            | ” AND “
            strong AS AVAILABLE
            | ” WITHOUT ANY WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. PHWC DOES NOT WARRANT THE ACCURACY, COMPLETENESS OR TIMELINESS OF THE SITE OR THE WEBSITE CONTENT AND, TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, PHWC DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF TITLE, MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT, WITH RESPECT TO ANY INFORMATION OBTAINED THROUGH THE SITE. WITHOUT LIMITING THE FOREGOING, PHWC DOES NOT WARRANT THAT ACCESS TO THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED; NOR DOES PHWC MAKE ANY REPRESENTATIONS ABOUT THE ACCURACY, RELIABILITY, CURRENCY, QUALITY, COMPLETENESS, USEFULNESS, PERFORMANCE, SECURITY, LEGALITY OR SUITABILITY OF THE SITE OR ANY OF THE INFORMATION CONTAINED THEREIN. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE AND YOUR RELIANCE UPON ANY WEBSITE CONTENT IS AT YOUR SOLE RISK. YOU SHALL BE SOLELY AND FULLY RESPONSIBLE FOR ANY DAMAGE TO ANY COMPUTER SYSTEM, ANY LOSS OF DATA, OR ANY IMPROPER USE OR IMPROPER DISCLOSURE OF INFORMATION CAUSED BY YOU. PHWC CANNOT AND DOES NOT ASSUME ANY RESPONSIBILITY FOR ANY LOSS, DAMAGES OR LIABILITIES ARISING FROM THE FAILURE OF ANY TELECOMMUNICATIONS INFRASTRUCTURE, OR THE INTERNET, OR FOR YOUR MISUSE OF ANY OF THE IDEAS OR INFORMATION ACCESSED THROUGH THE SITE.
          li
            strong LIMITATION OF LIABILITY. 
            | IN THE EVENT OF ANY PROBLEM WITH THE SITE OR ANY WEBSITE CONTENT, YOU AGREE THAT YOUR SOLE REMEDY IS TO CEASE USING THE SITE. UNDER NO CIRCUMSTANCES SHALL PHWC OR ITS LICENSORS, LICENSEES, SUPPLIERS OR PROVIDERS BE LIABLE IN ANY WAY FOR YOUR USE OF THE SITE OR ANY WEBSITE CONTENT INCLUDING, BUT NOT LIMITED TO, ANY ERRORS OR OMISSIONS IN ANY WEBSITE CONTENT, ANY INFRINGEMENT BY ANY WEBSITE CONTENT OF THE INTELLECTUAL PROPERTY RIGHTS OR OTHER RIGHTS OF THIRD PARTIES, OR FOR ANY LOSSES OR DAMAGES OF ANY KIND ARISING DIRECTLY OR INDIRECTLY OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE SITE OR THE MATERIALS OR INFORMATION CONTAINED ON THE SITE. UNDER NO CIRCUMSTANCES SHALL PHWC, ITS LICENSORS, LICENSEES, SUPPLIERS OR PROVIDERS BE LIABLE FOR ANY PUNITIVE, EXEMPLARY, CONSEQUENTIAL, INCIDENTAL, INDIRECT OR SPECIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, ANY PERSONAL INJURY, LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA ON YOUR COMPUTER OR OTHERWISE) ARISING FROM OR IN CONNECTION WITH YOUR USE OF THE SITE OR WEBSITE CONTENT, WHETHER UNDER A THEORY OF BREACH OF CONTRACT, NEGLIGENCE, STRICT LIABILITY, MALPRACTICE OR OTHERWISE, EVEN IF WE OR THEY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU HEREBY RELEASE PHWC AND HOLD PHWC AND ITS LICENSORS, LICENSEES, SUPPLIERS AND PROVIDERS HARMLESS FROM ANY AND ALL CLAIMS, DEMANDS AND DAMAGES OF EVERY KIND AND NATURE (INCLUDING, WITHOUT LIMITATION, ACTUAL, SPECIAL, INCIDENTAL AND CONSEQUENTIAL), KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED, ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF THE SITE OR WEBSITE CONTENT. YOU WAIVE THE PROVISIONS OF ANY STATE OR LOCAL LAW LIMITING OR PROHIBITING A GENERAL RELEASE.
          li
            strong Indemnification. 
            | Without limiting the generality or effect of other provisions of this User Agreement, as a condition of use, you agree to indemnify, hold harmless and defend PHWC and its parents, subsidiaries, affiliates, licensors, licensees, suppliers and providers and their officers, directors, affiliates, subcontractors, agents and employees, lenders, licensors and suppliers and their parents, subsidiaries, affiliates, suppliers and their officers, directors, affiliates, subcontractors, agents and employees (collectively, 
            strong “Indemnified Parties”
            |  and each, individually, an 
            strong “Indemnified Party”
            | ) against all costs, expenses, liabilities and damages (including reasonable attorney’s fees) incurred by any Indemnified Party in connection with any third party claims arising out of: (i) your use of the Site, (ii) your failure to comply with any applicable laws and regulations, and/or (iii) your breach of any obligations set forth in this User Agreement. You shall not settle any such claim without the written consent of the applicable Indemnified Party.
          li
            strong MODIFICATION OF THESE TERMS OF USE.
            |  We reserve the right to change these Terms of Use or our <a href="/privacy">Privacy Policy</a> and any terms, conditions and notices under which the Site is offered. We may terminate these Terms of Use at any time by suspending or terminating access to the Site. You can see when these Terms of Use were last revised by referring to the “Last Updated” legend above. Your continued use of the Site after we have posted revised Terms of Use signifies your acceptance of such revised Terms of Use.
          li
            strong ERRORS, INACCURACIES AND OMISSIONS.
            |  Occasionally there may be information on our Site that contains typographical errors, inaccuracies, or omissions. We reserve the right to correct any errors, inaccuracies, or omissions; however, we undertake no obligation to update, amend, or clarify information on the Site, except as required by law. No specified update or refresh date applied to the Site should be taken to indicate that all information with respect to the Site has been modified or updated.
          li
            strong Miscellaneous.
            | This User Agreement is to be construed in accordance with and governed by the internal laws of the State of New York without giving effect to any choice of law rule that would cause the application of the laws of any other jurisdiction. The United Nations Convention on Contracts for the International Sale of Goods shall not apply. Any legal suit, action or proceeding arising out of or relating to this User Agreement may be commenced in a federal court in New York, New York, and both you and irrevocably submit to the non-exclusive jurisdiction and venue of any such court in any such suit, action or proceeding. This User Agreement constitutes the sole agreement between you and PHWC for your use of the Site and the subject matter hereof, and no representations, statements or inducements, oral or written, not contained in this User Agreement shall bind either you or PHWC. Any of the terms of this User Agreement which are determined to be invalid or unenforceable shall be ineffective to the extent of such invalidity or unenforceability, without rendering invalid or unenforceable any of the remaining terms of this User Agreement or affecting the validity or enforceability of the User Agreement as a whole. Failure to insist on performance of any of the terms of the User Agreement will not operate as a waiver of any subsequent default. No waiver by PHWC of any right under this User Agreement will be deemed to be either a waiver of any other right or provision or a waiver of that same right or provision at any other time. You may not assign, transfer or delegate your rights or obligations hereunder, in whole or in part. This User Agreement shall be binding upon and inure to the benefit of each of the parties and the parties’ respective successors and permitted assigns. A printed version of this User Agreement and of any related notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this User Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. This User Agreement, together with our <a href="/privacy">Privacy Policy</a>, constitutes the entire agreement between you and PHWC with respect to use of the Site and/or Website Content and it supersede all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and PHWC with respect to the Site and/or Website Content.
          li
            strong CONTACT INFORMATION. 
            p
              | If you have questions or concerns with respect to PHWC or our Site, please contact us using one of the following options:
            p
              u By e-mail
              | :            
              a(href='mailto:customercare@perriconehydrogenwater.com') customercare@perriconehydrogenwater.com
            p
              u By phone
              | :            (844) 341-5941 (toll-free)
            p
              u By mail
              | :               Perricone Hydrogen Water Company, LLC
            p                             639 Research Parkway
            p                             Meriden, CT 06450
            p  
        p.copyright © COPYRIGHT 2017 PERRICONE HYDROGEN WATER COMPANY, LLC, ALL RIGHTS RESERVED.
